.container
  %section{:id => :main, :'ng-controller' => 'NoteController'}
    %form{:id => :'note-form', :class => [:well, :'form-inline'], :'ng-submit' => 'addNote()'}
      %input{ :type           => :text,
              :class          => :span10,
              :autocapitalize => :off,
              :autocorrect    => :off,
              :autocomplete   => :off,
              :placeholder    => 'Enter new notes',
              :'ng-model'     => 'noteDescription'  }

      %input{ :type   => :submit,
              :class  => [:btn, :'btn-primary'],
              :value  => 'Add' }

    %fieldset
      %legend.clearfix
        %span Notes
        %span{:class => [:label, :'label-warning']}
          {{ notes.length }}
        %span{:class => [:label, :'label-warning', :'pull-right'], :'ng-click' => 'deleteAll()'}
          Remove all

      %ul{:id => 'notes-list', :class => [:unstyled, :clearfix]}
        %li{:class => :clearfix, :'ng-repeat' => 'note in notes'}
          %p{:class => :span10}
            %span{:class => :description}
              {{ note.description }}
            %time{:class => :date}
              %i.icon-time
              {{ note.createdAt }}
          %i{:class => [:'icon-trash', :'pull-right'], :'ng-click' => 'deleteNote(note.id)', :'ng-model' => 'noteDescription'}