<!DOCTYPE html>
<html>
<head>
  <title>NotesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header">
  <h1>
    <!-- <svg class="icon" width="24" height="24" fill="none" stroke-width="0">
      <rect x="0" y="0" width="24" height="24" stroke="white" stroke-width="3" stroke-linejoin="round" fill="none" rx="6" ry="6" />
    </svg> -->
    Notes
  </h1>
</header>
<!-- <div class="ripped-notes"></div> -->
<%= yield %>

</body>
</html>
